/vendor
/node_modules
Homestead.yaml
/public/storage
Homestead.json
.env
/.idea

# public
/public/phpinfo.php
/public/images/campaigns
/public/images/gallery
/public/images/preview
/public/images/profile
/public/images/filter_types
/public/images/filter_types/*
/public/icons
/public/campaign_assets
/public/campaign_assets/*

# storage directories
storage/downloads
storage/downloads/*
storage/framework
storage/framework/*
storage/debugbar
storage/debugbar/*
storage/ftp_feeds
storage/ftp_feeds/*

.idea
.idea/
.idea/*
.idea/workspace.xml

.imdone
.imdoneignore
.phpintel
.phpintel/

/sql_files
/app/Console/Commands/Test/*
/app/Http/Controllers/Test
/resources/views/test/*
/public/charts/images/high.png
/public/charts/images/critical.png
/public/charts/images/options.json
public/charts/images/options.json
public/js/api/one_loading/
public/charts/*
/public/charts/*
public/charts/images/*
/public/charts/images/*
/report
phpunit2.xml
worker.log
worker.log.1
/report
/app/Http/Services/Leads
/app/Http/Controllers/LeadTestController.php
/app/Http/Services/Repositories/
